/* reset */
body, blockquote, p, ul, ol {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th {
    text-align: left;
}

/* main framework */
body {
    background: center top #666;
    font-family: "Microsoft Yahei",SimHei;
}

#wrapper {
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #111;
    font-size: 12px;
    line-height: 150%;
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    min-width: 280px;
}

#header {
    display: none;
}

#footer {
    text-align: right;
}
#footer li {
    list-style: none;
}

#main.index {
    overflow: hidden;
}

/* sidebar */
#sidebar {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 16%;
}
#sidebar ul {
    letter-spacing: 1px;
    list-style: none;
    margin: 2px 0;
    text-align: right;
}
#sidebar ul li {
    padding: 0 0 5px 5px;
    list-style: none;
}
#sidebar ul li a {
    color: #444444;
}
#sidebar li.category a {
    color: #999999;
}

/* page */
#page {
    overflow: hidden;
}
#page .content {
    float: right;
    min-width: 78%;
}

#tags {
    color: #999;
    float: right;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

/* logo */
#logo {
    margin: 20px auto;
    width: 740px;
}

#logo h1 a {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

/* navigation */
.left { float: left; }
.right { float: right; }
#related h2 { text-align: left; }
#related ul { list-style: circle inside none; }
#related { padding-bottom: 1em; }

.navigator {
    text-transform: uppercase;
}

/* content */
.content hr {
    border: 0;
    border-top: 1px solid #999;
    clear: both;
}
.content img, .content object {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.content h1 {
    background: none repeat scroll 0px 0px rgb(221, 221, 221);
    font-size: 16px;
    margin: 16px -20px;
    padding: 10px 20px;
}
.content h2 {
    font-size: 15px;
    margin: 12px 0px;
}
.content h3 {
    font-size: 13px;
    margin: 8px 0px;
}
.content p { margin: 1em 0px; }
.content p.eof { margin: 20px 0px; }
.content ul, .content ol { margin: 1em 0px; }

ul li { list-style: circle inside none; }
ol li { list-style: decimal inside none; }
ol, ul { padding-left: 0em; }
div ol, div ul { padding-left: 1em; }

/* headers */
#page .content h1 {
    color: rgb(68, 68, 68);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px -5px 18px;
    padding: 5px;
    border-radius: 5px;
    background: none repeat scroll 0% 0% rgb(221, 221, 221);
}
#page h3.title {
    text-transform: uppercase;
}

.posts { padding-left: 0em; }
.posts li { list-style: none; }


/* linker */
h1 a:hover {
    color: #7FFF00;
}

a {
    color: #339;
    text-decoration: none;
}

a:hover {
    color: #33f;
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

/* meta class */
p.date {
    color: #999;
    float: right;
    font-size: 12px;
    margin: 0;
}

.title {
    border-bottom: thin solid gray;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.small, p.date, p#footnote, p#footnote a, del, del a {
    color: #888;
}
.small, p#footnote {
    font-size: 12px;
}

em {
    color: #696969;
    font-style: italic;
}


/* blocks */
pre {
    background-color: #E6E6E6;
    padding: 0.8em;
    margin: 0px;
    margin-bottom: 6px;
    font-size: 95%;
    line-height: 1.45;
    border-radius: 3px;
}

code, tt {
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background-color: #E6E6E6;
    padding: 0.2em 0.5em;
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
}

blockquote {
    background-color: #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    border-left: 2px solid #111;
    color: #111;
    padding-left: 1em;
}

.notice {
    background: #FFFBBB;
    margin: 0 0 5px -40px;
    padding: 20px;
    width: 740px;
}

span#article_buttons {
    float: right;
    margin: 20px 0;
    text-align: right;
}

span#article_buttons a {
    display: block;
}

span.balloon {
    background: #222;
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 5px;
    padding: 2px 5px;
}

@media (max-width: 640px) {
    div#wrapper {
        margin: 0px auto;
    }
    #sidebar, #page .content {
        float: none;
    }
}
