/* reset */
body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th {
    text-align: left;
}

/* main framework */
body {
    background: center top #666;
    font-family: "Microsoft Yahei",SimHei;
}

div#wrapper {
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #111;
    font-size: 14px;
    line-height: 150%;
    margin: 50px auto;
    padding: 20px;
    width: 800px;
}

#header {
    display: none;
}

#footer {
    text-align: right;
}
#footer li {
    list-style: none;
}

div#main.index {
    overflow: hidden;
}

/* sidebar */
#sidebar {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 16%;
}
#sidebar ul {
    letter-spacing: 1px;
    list-style: none;
    margin: 2px 0;
    text-align: right;
}
#sidebar ul li {
    padding: 0 0 5px 5px;
}
#sidebar ul li a {
    color: #444444;
}
#sidebar li.category a {
    color: #999999;
}

#page {
    overflow: hidden;
}

#page .content {
    float: right;
    width: 78%;
}

#tags {
    color: #999;
    float: right;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

/* logo */
#logo {
    margin: 20px auto;
    width: 740px;
}

#logo h1 a {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

/* navigation */
.left { float: left; }
.right { float: right; }
#related h2 { text-align: left; }
#related ul { list-style: circle inside none; }
#page-navigation { font-size: 13px; }

/* content */
.content hr {
    border: 0;
    border-top: 1px solid #999;
    clear: both;
}
.content img, .content object {
    border-radius: 5px;
}
.content ul li { list-style: circle inside none; }
.content ol li { list-style: decimal inside none; }
.content .posts li { list-style: none; }
.content p, .content ul, .content ol { margin: 10px 0px; }
.content p.eof { margin: 30px 0px; }

/* headers */
#page .content h1 {
    color: rgb(68, 68, 68);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px -5px 18px;
    padding: 5px;
    border-radius: 5px;
    background: none repeat scroll 0% 0% rgb(221, 221, 221);
}
#page h3.title {
    text-transform: uppercase;
}
.content h1 {
    background: none repeat scroll 0px 0px rgb(221, 221, 221);
    font-size: 16px;
    margin: 16px -20px;
    padding: 10px 20px;
}
.content h2 { font-size: 15px; margin: 12px 0px; }
.content h3 { font-size: 13px; margin: 8px 0px; }

/* linker */
h1 a:hover {
    color: #7FFF00;
}

a {
    color: #339;
    text-decoration: none;
}

a:hover {
    color: #33f;
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

/* meta class */
p.date {
    color: #999;
    float: right;
    font-size: 14px;
    margin: 0;
}

.title {
    border-bottom: thin solid gray;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.small,p.date,p#footnote,p#footnote a,del,del a {
    color: #888;
}
.small,p#footnote {
    font-size: 12px;
}

em {
    color: #696969;
    font-style: italic;
}


/* blocks */
pre {
    background-color: #F0F0F0;
    padding: 12px;
    white-space: pre-wrap;
    margin-bottom: 6px;
}

pre code {
    font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
    line-height: 1.6;
}

blockquote {
    background-color: #F0F0F0;
    border-left: 2px solid #111;
    color: #111;
    margin: 0;
    padding-left: 20px;
}

.notice {
    background: #FFFBBB;
    margin: 0 0 5px -40px;
    padding: 20px;
    width: 740px;
}

span#article_buttons {
    float: right;
    margin: 20px 0;
    text-align: right;
}

span#article_buttons a {
    display: block;
}

span.balloon {
    background: #222;
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 5px;
    padding: 2px 5px;
}
