<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh-cn">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="{{ site.author.name }}" />
		<link href="{{ BASE_PATH }}/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

		<link rel="stylesheet" href="{{ ASSET_PATH }}/css/styles.css">
		<link rel="stylesheet" href="{{ ASSET_PATH }}/css/pygments.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<div id="wrapper">

			<div id="header">
				<a href="{{ HOME_PATH }}"><h1>{{ site.title }}</h1></a>
				<p>{{ site.tagline }}</p>
			</div>

			<div id="main">
				{{ content }}
			</div>

			<div id="footer">
				<div class="contact">
					<p>&#64;2013 {{ site.author.shortname }}. Designed by <a href="http://xanpeng.github.io">xanpeng</a></p>
				</div>
				<div class="rss">
					<a href="{{ BASE_PATH }}/atom.xml">
						<img src="{{ ASSET_PATH }}/images/rss.png" alt="Subscribe to RSS Feed" />
					</a>
				</div>
			</div>
		</div>

		<!-- analytics begin -->
		{% include JB/analytics %}
		<!-- analytics end -->

		<script src="{{ ASSET_PATH }}/js/scale.fix.js"></script>

	</body>
</html>
